@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.contactbg {
    background: rgba(0, 0, 0, 0.7);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
    padding: 0vw 2vh;
    transition: all 265ms ease-out;
    margin-top: 7vh;;
    margin-right: 6vw;
}

.contactPic{
    margin-top: 0;
}

.social-container {
    width: 30vw;
    margin-left: 0;
    float: left;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 19px;
    left: 19px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #fa4ab6, #D80286);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #fa4ab6;
    background: -webkit-linear-gradient(45deg, #fa4ab6, #D80286);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
.connectlist{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.contactPic {
    width: 50%;
    height: 50%;
    position: sticky;
    position: -webkit-sticky;
}

.shy {
    font-family: 'Oswald', sans-serif;
    font-size: max(3vw,25px);
    color: #fa4ab6
}
.contactInfo{
    font-size:  max(1.3vw, 16px);
    color: #fa4ab6;
}
.link {
    color: floralwhite;
    text-decoration: none;
}
  
  .link:hover {
    color: #D80286;
  }
  .textbox {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    font-size: 3vh;
    background-color: #bab4df31;
    color: #fff;
    margin-bottom: 3vh;
  }
  
  .textbox:focus {
    outline: none;
    background-color: #bab4df31;
    color: #fff;
  }


  .textarea {
    resize: none;
    width: 100%;
    height: 25vh;
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 3vh;
    background-color: #bab4df31;
    margin-bottom: 3vh;
}

.textarea:focus {
    outline: none;
    background-color: #bab4df31;
    color: #fff;
    opacity: .87;
  }
.textbox::after{
    background-color: #bab4df31;
}
.textbox:focus::after{
    background-color: #bab4df31;
}


.contactform{
    float: right;
    margin-right:0;
    width: 35vw;
    margin-top: 5vh;
    
}

.btnform{
    background-color: #D80286;
    color: #fff;
    border: none;
    border-radius: 0;
}
.btnform:hover{
    background-color: #fa4ab6;
    color: #fff;
}