@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
body {
  color: #fff;
  background-attachment: fixed;
  /* background-color: #000; */
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: max(1.4vw, 16px);
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px #D80286; */
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #D80286;
  border-radius: 20px;
}

.brandName {
  font-family: 'Indie Flower', cursive;
}

.image {
  width: 40vw;
  height: 90vh;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 2vh;

}

.imgMain {
  width: 100%;
  height: 100%;
  
}

.landingText {
  margin-top: 30vh;
  width: 50vw;
}

.landingName {
  font-size: 6vh;
  font-family: 'Orbitron', sans-serif;
  color: #D80286;
  margin-top: 5vh;
}

.text-start {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4vh;
}

.name {
  align-content: right;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.bold {
  font-weight: bolder;
}

.aboutPic {
  margin-top: 5vh;
  width: 50%;
  height: 50%;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}
.left {
  width: 50%;
  font-size: 3vh;
}

.right {
  width: 50%;
  font-size: 3vh;
}

.format {
  color: #D80286;
}



.Date {
  background-color: #08042473;
  padding: 5px;
  line-height: 5vh;
  font-weight: bold;
}



.menuOptions{
  list-style: none;
}
.area{
  background: #000000dc;  
  width: 100%;
  height:100%;
  margin-bottom: 0px;
  
}

.circles{
  position: absolute;
  top: 0;
  left: 10vw;
  width: 80%;
  height: 100vh;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #fa4ab649;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* .homepagetext{
  font-family: 'BIZ UDGothic', sans-serif;
  font-size: max(1.4vw, 16px);
  font-weight: normal;
} */
