@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:700)



*
  box-sizing: border-box
  padding: 0
  margin: 0
  border: 0
  outline: 0
  -webkit-font-smoothing: antialiased

html
  font-size: 10px // rem reset

body
  background: $color-dark
  color: $color-light
  font: #{2.6rem}/1.55 $font-primary

section
  padding: 12.5%
  width: 100%

  &:nth-of-type(even)
    background: $color-light
    color: $color-dark

p
  margin-bottom: 2.5em
  
a
  color: inherit
  text-decoration: none
    
h2
  font: bold 2.8rem $font-secondary
  text-transform: uppercase
  letter-spacing: 5px
  margin-bottom: 2em
  
nav
  mix-blend-mode: difference
  z-index: 100

  ul
    position: fixed
    top: 60px
    right: 5px
    height: 100vh
    visibility: hidden
    pointer-events: none
    list-style: none
    width: 35px

    li
      font: bold 1.5rem $font-secondary
      text-transform: uppercase
      letter-spacing: 2px
      padding: 0.75em 0
      writing-mode: vertical-lr

  &.active ul
    visibility: visible
    pointer-events: initial
    transition-delay: 0.2s


// Inspired by: https://github.com/callmenick/Animating-Hamburger-Icons

.nav-icon
  appearance: none
  background: transparent
  cursor: pointer
  display: inline-block
  height: 35px
  position: fixed
  top: 15px
  right: 15px
  transition: background 0.3s
  width: 35px

  span
    position: absolute
    top: 15px
    left: 5px
    background: $color-light
    display: block
    height: 3px
    right: 5px
    transition: transform 0.3s

    &:before,
    &:after
      width: 100%
      height: 3px
      background: $color-light
      content: ''
      display: block
      left: 0
      position: absolute

    &:before
      top: -8px

    &:after
      bottom: -8px

  .active & span
    transform: rotate(90deg)